@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar div{
    margin: 0 50px;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links Button Link {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

.inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}